.kasa-footer{
    background-color: black;
    color: white;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer-right {
    font-size:13px;
}

.kasa-logoWhite{
    width:50px;
}